
html {
    background-color: #eeeeee;
}

body {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}

.no-scroll {
    width: 100%;
    height: 100%;
    
	-samurai-view-class: 'UIView';
}

p {
	border: 0;
	margin: 0;
	padding: 0;
    
    -samurai-view-hierarchy: 'leaf';
    -samurai-view-class: 'EMStringLabel';
}

img, image {
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'SDWebImageView';
}

.color-dark {
    color: #585858;
}

.color-gray {
    color: #7d7d7d;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-red {
    color: red;
}

.bg-white {
    background-color: white;
}

.bg-main {
    background-color: #eeeeee;
}

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px;
}

.font-bold {
    font-weight: bold;
}

.width-1 {
    width: 100%;
}

.height-1 {
    height: 100%;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.absolute {
    position: absolute;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.left-10 {
    left: 10px;
}

.right-10 {
    right: 10px;
}

.top-10 {
    top: 10px;
}

.bottom-10 {
    bottom: 10px;
}

.margin-10 {
    margin: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.inset-10 {
    inset: 10px;
}

.inset-left-10 {
    inset-left: 10px;
}

.inset-right-10 {
    inset-right: 10px;
}

.inset-top-10 {
    inset-top: 10px;
}

.inset-bottom-10 {
    inset-bottom: 10px;
}

.border {
    border: 0.5px solid #b2b2b2;
}

.border-top {
    border-top: 0.5px solid #b2b2b2;
}

.border-bottom {
    border-bottom: 0.5px solid #b2b2b2;
}

.line {
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: #b2b2b2;
}

.hide {
    display: none;
}

.primary-button, .secondary-button {
    background-color: #0199FF;
    color: white;
    width: 100%;
    height: 40px;
    border: 0.01px solid #b2b2b2;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.secondary-button {
    border: 1px solid #b2b2b2;
    background-color: white;
    color: black;
}
